//- event_edit.pug
extends layout

block content
    h1 #{message}

    form(method='POST' action='/event_edit' + (undefined===event ? '' : '?eid=' + event.eid))
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name' autofocus value=(undefined===event ? '' : event.name))
        div.form-group
            button.btn.btn-primary(type='submit') Save
