doctype html
html
    head
        title #{title}
        block meta
        block css
            link(rel='stylesheet' type='text/css' href='css/layout.css')
        block js
    body
        header(class='navi')
            block header
                a(id='home' href='/')
                    img(class='logo' src='img/logo.png')
                each menu in menues
                    a(id=menu.id href=menu.link)= menu.text

        section(class='content')
            block content

        section(class='footer')
            block footer