//- machine_edit.pug
extends layout

block content
    h1 #{message}

    form(method='POST' action='/machine_edit' + (undefined===machine ? '' : '?mid=' + machine.mid))
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name' autofocus value=(undefined===machine ? '' : machine.name))
        div.form-group
            label(for='config') Config:
            input#config.form-control(type='text', name='config' value=(undefined===machine ? '' : machine.config))
        div.form-group
            button.btn.btn-primary(type='submit') Save
