//- machine_edit.pug
extends layout

block content
    h1 #{message}

    form(method='POST' action='/machine_edit' + (undefined===machine ? '' : '?mid=' + machine.mid))
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name' autofocus value=(undefined===machine ? '' : machine.name))
        div.form-group
            label(for='config') Config:
            input#config.form-control(type='text', name='config' value=(undefined===machine ? '' : machine.config))
        div.form-group
            label(for='price') Price:
            input#price.form-control(type='text', name='price' value=(undefined===machine ? '' : machine.price))
        div.form-group
            label(for='period') Period:
            input#period.form-control(type='text', name='period' value=(undefined===machine ? '' : machine.period))
        div.form-group
            label(for='units') Units:
            input#uid.form-control(type='text', name='uid' value=(undefined===machine ? '' : machine.uid))
        div.form-group
            label(for='min_periods') Min. Periods:
            input#min_periods.form-control(type='text', name='min_periods' value=(undefined===machine ? '' : machine.min_periods))
        div.form-group
            button.btn.btn-primary(type='submit') Save
