//- user_edit.pug
extends layout

block content
    h1 #{message}

    form(method='POST' action='/user_edit' + (undefined===user ? '' : '?uid=' + user.uid))
        -if (role==1)
            div.form-group
                label(for='username') Username:
                input#username.form-control(type='text', name='username' autofocus value=(undefined===user ? '' : user.username))
            div.form-group
                label(for='password') Password:
                input#password.form-control(type='password', name='password' value=(undefined===user ? '' : user.password))
            div.form-group
                label(for='name') Full Name:
                input#name.form-control(type='text', name='name' value=(undefined===user ? '' : user.name))
            div.form-group
                label(for='role') Role:
                input#role.form-control(type='text', name='role' value=(undefined===user ? '' : user.role))
            div.form-group
                button.btn.btn-primary(type='submit') Save
        -else
            div.form-group
                label(for='name') Full Name:
                input#name.form-control(type='text', name='name' value=(undefined===user ? '' : user.name))
            div.form-group
                label(for='password') Password:
                input#password.form-control(type='password', name='password' value=(undefined===user ? '' : user.password))
            div.form-group
                button.btn.btn-primary(type='submit') Save
        